# Heroes Of The Land - Game Data Analysis

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "./resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
# set up purchase data into a data frame
df_organized = pd.DataFrame(purchase_data)
df_organized.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# calculate total number of unique players
total_players = len(df_organized.SN.value_counts())
total_players
print(f"The total number of players are {total_players}.")

The total number of players are 576.

In [6]:
# Run basic calculations to obtain number of unique items, average price, etc.

In [7]:
# total unique items
total_unique_items = len(df_organized['Item ID'].value_counts())
total_unique_items

183

In [9]:
# total unique item names
unique_item_name = len(df_organized['Item Name'].value_counts())
unique_item_name

179

In [10]:
# calculate average price
average_price = round(df_organized.Price.mean(), 2)
average_price

3.05

In [11]:
# Calculated total revenue by summing up all prices that were sold to players
total_revenue = round(df_organized.Price.sum(), 2)
total_revenue

2379.77

In [12]:
# total unique_SN
total_unique_SN = len(df_organized['SN'].value_counts())
total_unique_SN

576

In [13]:
# average purchase per player
avg_purchase_PP = round(total_revenue / total_unique_SN, 2)
avg_purchase_PP

4.13

In [14]:
# total unique purchase ID's. later realized these were transaction numbers
total_unique_purchID = len(df_organized['Purchase ID'].value_counts())
total_unique_purchID

780

In [15]:
# average age
average_age = round(df_organized.Age.mean())
average_age

23

In [16]:
#df_organized.head()

In [17]:
# Create a summary data frame to hold the results and display summary
purch_analysis_sumdf = pd.DataFrame({"Total # of Unique SN's": [total_unique_SN],
                                     "Total # of Purchases": [total_unique_purchID],
                                     "Total Unique Items Offered": [total_unique_items],
                                     "Total Revenue in $": [total_revenue],
                                     "Average Purchase Per Player in $": [avg_purchase_PP],
                                     "Average Price in $": [average_price],
                                     "Average Age": [average_age],
                                    })                  
purch_analysis_sumdf

,Total # of Unique SN's,Total # of Purchases,Total Unique Items Offered,Total Revenue in $,Average Purchase Per Player in $,Average Price in $,Average Age
0,576,780,183,2379.77,4.13,3.05,23

In [18]:
# located all male players in purchase_data
male_df = df_organized.loc[df_organized["Gender"] == "Male" , :]
male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
# grouped all male players by their unique SN
grouped_male_df = male_df.groupby(['SN'])
#print(grouped_male_df)

# total male players
total_male_players = len(grouped_male_df)
total_male_players

484

In [20]:
# located all female players in the purchase data set
female_df = df_organized.loc[df_organized["Gender"] == "Female" , :]
female_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [21]:
# group the female player data by their SN's
grouped_female_df = female_df.groupby(['SN'])
#print(grouped_female_df)

#calculate the number of female players
total_female_players = len(grouped_female_df)
total_female_players

81

In [22]:
# located all other players
other_df = df_organized.loc[df_organized["Gender"] == "Other / Non-Disclosed" , :]
other_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [26]:
# group the other player data by their SN's

grouped_other_df = other_df.groupby(['SN'])
#print(grouped_other_df)

#calculated all other oplayers
total_other_players = len(grouped_other_df)
total_other_players

11

In [27]:
male_percentage = round(total_male_players / total_players, 4)*100
male_percentage

84.03

In [28]:

female_percentage = round(total_female_players / total_players, 4)*100
female_percentage

14.06

In [29]:

other_percentage = round(total_other_players / total_players, 4)*100
other_percentage

1.91

In [32]:

player_summary_df = pd.DataFrame({"Total Count": [total_male_players, total_female_players, total_other_players],
                                 "Percentage of Players": [male_percentage, female_percentage, other_percentage]},
                                 index=["Male", "Female", "Other / Non-Disclosed"])            
player_summary_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [33]:
female_df = df_organized.loc[df_organized["Gender"] == "Female" , :]

total_purchase_countF = len(female_df)

total_purchase_countF

113

In [34]:
male_df = df_organized.loc[df_organized["Gender"] == "Male" , :]

total_purchase_countM = len(male_df)

total_purchase_countM

652

In [43]:
other_df = df_organized.loc[df_organized["Gender"] == "Other / Non-Disclosed" , :]

total_purchase_countO = len(other_df)

total_purchase_countO

15

In [44]:
female_df = df_organized.loc[df_organized["Gender"] == "Female" , :]

avg_purch_priceF = round(female_df['Price'].mean(), 2)

avg_purch_priceF

#print(str(avg_purch_priceF) +"0")

3.2

In [45]:
male_df = df_organized.loc[df_organized["Gender"] == "Male" , :]

avg_purch_priceM = round(male_df['Price'].mean(), 2)

avg_purch_priceM

3.02

In [46]:
other_df = df_organized.loc[df_organized["Gender"] == "Other / Non-Disclosed" , :]

avg_purch_priceO = round(other_df['Price'].mean(), 2)

avg_purch_priceO

3.35

In [49]:
female_df = df_organized.loc[df_organized["Gender"] == "Female" , :]

sum_purch_priceF = round(female_df['Price'].sum(), 2)

sum_purch_priceF

361.94

In [50]:
male_df = df_organized.loc[df_organized["Gender"] == "Male" , :]

sum_purch_priceM = round(male_df['Price'].sum(), 2)

sum_purch_priceM

1967.64

In [51]:
other_df = df_organized.loc[df_organized["Gender"] == "Other / Non-Disclosed" , :]

sum_purch_priceO = round(other_df['Price'].sum(), 2)

sum_purch_priceO

50.19

In [52]:
avg_purch_perF = round(sum_purch_priceF / total_female_players, 2)
avg_purch_perF

4.47

In [53]:
avg_purch_perM = round(sum_purch_priceM / total_male_players, 2)
avg_purch_perM

4.07

In [54]:
avg_purch_perO = round(sum_purch_priceO / total_other_players, 2)
avg_purch_perO

4.56

In [55]:
# Created a summary maual dataframe for results

player_summary_df = pd.DataFrame({"Purchase Count": [total_purchase_countF, total_purchase_countM, total_purchase_countO],
                                  "Average Purchase Price": [avg_purch_priceF, avg_purch_priceM, avg_purch_priceO],
                                  "Total Purchase Value": [sum_purch_priceF, sum_purch_priceM, sum_purch_priceO],
                                  "Avg Total Purchase per Person": [avg_purch_perF, avg_purch_perM, avg_purch_perO],
                                  "Gender": ["Female", "Male", "Other / Non-Disclosed"]
                                 })

# Format values in the summary table
player_summary_df["Average Purchase Price"] = player_summary_df["Average Purchase Price"].map("${:.2f}".format)
player_summary_df["Total Purchase Value"] = player_summary_df["Total Purchase Value"].map("${:.2f}".format)
player_summary_df["Avg Total Purchase per Person"] = player_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)


# Note always need to state the object, then restate it again then the method to make changes and save it to the same
# object like how you did it down below
player_summary_df = player_summary_df.set_index("Gender")

player_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [56]:
# Understand the range of data
print(df_organized["Age"].max())
print(df_organized["Age"].median())
print(df_organized["Age"].min())

45
22.0
7

In [57]:
df_organized.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [58]:
# Created bins in which to place values based upon ages
# for age_bins, I put 9 because the ask stated the bin should be "<10" and when I put 10, all ages of 10 were included

age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
# Create labels for these bins
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", 
               "35-39", "40+"]

In [59]:
# Slice the data and place it into bins
pd.cut(df_organized["Age"], age_bins, labels=bin_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [60]:
# Place the data series into a new column inside of the DataFrame
df_organized["Age Group"] = pd.cut(df_organized["Age"], age_bins, labels=bin_labels)

sn_group_df = df_organized.groupby(["SN"])

age_group_valuects = sn_group_df["Age Group"].value_counts()

In [61]:
# put value counts into data frame
age_group_valuects = pd.DataFrame(age_group_valuects)

age_group_valuects = age_group_valuects.rename(columns={"Age Group":"Counts"})

age_group_valuects = age_group_valuects.reset_index(level=["Age Group"])
age_group_valuects = pd.DataFrame(age_group_valuects["Age Group"].value_counts())
age_group_valuects = age_group_valuects.rename(columns={"Age Group":"Total Count"})
age_group_valuects = age_group_valuects.reindex(["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])

#adding a column to the dataframe age_group_counts_df called "Percentage of Players"
# and will figure out the formula for you.

sum_age_valuects = age_group_valuects["Total Count"].sum()

age_group_valuects["Percentage of Players"] = (age_group_valuects["Total Count"]/sum_age_valuects)

#Formatting the value in the summary table
age_group_valuects['Percentage of Players'] = pd.to_numeric(age_group_valuects['Percentage of Players'])
age_group_valuects['Percentage of Players'] = age_group_valuects['Percentage of Players'].map("{:.2%}".format)

age_group_valuects

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [62]:
age_group = df_organized.groupby("Age Group")

total_purch_age = age_group["Purchase ID"].count()
print(total_purch_age)

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [63]:
total_age_percentage = round((age_group["SN"].count() / total_unique_SN)*100, 2)
print(total_age_percentage)

Age Group
<10       3.99
10-14     4.86
15-19    23.61
20-24    63.37
25-29    17.53
30-34    12.67
35-39     7.12
40+       2.26
Name: SN, dtype: float64

In [64]:
avg_purchPrice_age = round((age_group["Price"].sum() / total_purch_age), 2)
print(avg_purchPrice_age)

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
dtype: float64

In [65]:
total_purch_value = age_group["Price"].sum()
print(total_purch_value)

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [66]:

avg_purchPrice_person = round((total_purch_value / total_purch_age), 2)
print(avg_purchPrice_person)

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
dtype: float64

In [67]:
purch_perSN = pd.DataFrame(age_group["SN"].unique())
total_purch_perSN = purch_perSN["SN"].str.len()

avg_purchPrice_person = round((total_purch_value / total_purch_perSN), 2)
print(avg_purchPrice_person)

Age Group
<10      4.54
10-14    3.76
15-19    3.86
20-24    4.32
25-29    3.81
30-34    4.12
35-39    4.76
40+      3.19
dtype: float64

In [68]:
#Summary Dataframe
purch_age_summdf = pd.DataFrame({"Purchase Count": [total_purch_age[1], total_purch_age[2],
                                total_purch_age[3], total_purch_age[4],total_purch_age[5], total_purch_age[7],
                                total_purch_age[7], total_purch_age[0]],
                                 "Average Purchase Price": [avg_purchPrice_age[1], avg_purchPrice_age[2],
                                avg_purchPrice_age[3], avg_purchPrice_age[4],avg_purchPrice_age[5], avg_purchPrice_age[7],
                                avg_purchPrice_age[7], avg_purchPrice_age[0]],
                                 "Total Purchase Value": [total_purch_value[1], total_purch_value[2],
                                total_purch_value[3], total_purch_value[4],total_purch_value[5], total_purch_value[7],
                                total_purch_value[7], total_purch_value[0]],
                                "Average Total Purchase per Person": [avg_purchPrice_person[1], avg_purchPrice_person[2],
                                avg_purchPrice_person[3], avg_purchPrice_person[4],avg_purchPrice_person[5], avg_purchPrice_person[7],
                                avg_purchPrice_person[7], avg_purchPrice_person[0]],
                                "  ": ["10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+", "<10"]})
purch_age_summdf.set_index('  ')

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
,,,,
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,13,2.94,38.24,3.19
40+,13,2.94,38.24,3.19
<10,23,3.35,77.13,4.54