# Heroes Of The Land - Game Data Analysis

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "./resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [3]:
# set up purchase data into a data frame
df_organized = pd.DataFrame(purchase_data)
df_organized.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# calculate total number of unique players
total_players = len(df_organized.SN.value_counts())
total_players
print(f"The total number of players are {total_players}.")

The total number of players are 576.

In [6]:
# Run basic calculations to obtain number of unique items, average price, etc.

In [7]:
# total unique items
total_unique_items = len(df_organized['Item ID'].value_counts())
total_unique_items

183

In [9]:
# total unique item names
unique_item_name = len(df_organized['Item Name'].value_counts())
unique_item_name

179

In [10]:
# calculate average price
average_price = round(df_organized.Price.mean(), 2)
average_price

3.05

In [11]:
# Calculated total revenue by summing up all prices that were sold to players
total_revenue = round(df_organized.Price.sum(), 2)
total_revenue

2379.77

In [12]:
# total unique_SN
total_unique_SN = len(df_organized['SN'].value_counts())
total_unique_SN

576

In [13]:
# average purchase per player
avg_purchase_PP = round(total_revenue / total_unique_SN, 2)
avg_purchase_PP

4.13

In [14]:
# total unique purchase ID's. later realized these were transaction numbers
total_unique_purchID = len(df_organized['Purchase ID'].value_counts())
total_unique_purchID

780

In [15]:
# average age
average_age = round(df_organized.Age.mean())
average_age

23

In [16]:
#df_organized.head()

In [17]:
# Create a summary data frame to hold the results and display summary
purch_analysis_sumdf = pd.DataFrame({"Total # of Unique SN's": [total_unique_SN],
                                     "Total # of Purchases": [total_unique_purchID],
                                     "Total Unique Items Offered": [total_unique_items],
                                     "Total Revenue in $": [total_revenue],
                                     "Average Purchase Per Player in $": [avg_purchase_PP],
                                     "Average Price in $": [average_price],
                                     "Average Age": [average_age],
                                    })                  
purch_analysis_sumdf

,Total # of Unique SN's,Total # of Purchases,Total Unique Items Offered,Total Revenue in $,Average Purchase Per Player in $,Average Price in $,Average Age
0,576,780,183,2379.77,4.13,3.05,23